/**
 * MediaView plugin CSS
 *
 * @author: Kim Tore Jensen <kim@incendio.no>
 */

body {
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
    font-weight: normal; 
}

#mediaview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #232323;
}

#mediaview ul {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 180px;
}

#mediaview ul li {
    display: none;
}

#mediaview canvas {
    cursor: move;
}

#mediaview .loading {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

#sidebar {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 140px;
    padding: 0 10px;
    background: #707172;
}

#thumb-selector-container {
    position: absolute;
    top: 115px; /* increase by 24px when adding buttons */
    bottom: 145px; /* when thumb navigation is visible */
    bottom: 39px;
    width: 120px;
    overflow: hidden;
}

#thumb-selector-container.overflowing #scroll-up, #thumb-selector-container.overflowing #scroll-down {
    display: block;
}

#thumb-selector-container #scroll-up, #thumb-selector-container #scroll-down {
    position: absolute;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: none;
    color: black;
}

#thumb-selector-container #scroll-up:hover, #thumb-selector-container #scroll-down:hover {
    color: white;
}

#thumb-selector-container #scroll-up:active, #thumb-selector-container #scroll-down:active {
    color: black;
}

#thumb-selector-container #scroll-up {
    top: 0;
}

#thumb-selector-container #scroll-down {
    bottom: 0;
}

#thumb-selector-inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    /*height: 100%;*/
}

#thumb-selector-container.overflowing #thumb-selector-inner {
    top: 23px;
    bottom: 23px;
}

#thumb-selector-container.overflowing #thumb-selector {
    padding-bottom: 36px;
}

#thumb-selector img {
    display: block;
    margin: 0 0 10px;
    cursor: pointer;
    opacity: 0.6;
}

#thumb-selector img.active {
    opacity: 1.0;
}

#thumb-selector img:hover {
    opacity: 1.0;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#thumb-navigator {
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    width: 140px;
    height: 140px;
    padding: 10px 20px;
    background: black;
}

.blocklink {
    color: white;
    background-color: #aaaaaa; 
    text-transform: uppercase; 
    display: block; 
    font-size: 15px;
    line-height: 15px;
    padding: 5px 3px;
    text-align: center;
    margin: 10px 0;
}

.blocklink:hover, .blocklink.active {
    background-color:#000; 
    color:white;
}

.blocklink:active {
    background-color:#53a1f1;
    color:white; 
}

video {  
    width: 100%;
    margin: 0 auto;
}

audio {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

@media only screen and (max-width : 480px), only screen and (max-device-width: 480px) {

    .blocklink {
        font-size: 2em;
        line-height: 1.5em;
        padding: 0;
    }

    #scroll-up, #scroll-down {
        display: none !important;
    }

    #mediaview {
        overflow: auto;
    }

    #container, #controls {
        display: none !important;
    }

    #thumb-selector-container {
        width: 100%;
        position: static;
        overflow: auto;
        height: auto;
    }

    #thumb-selector {
        width: 100%;
        position: static;
        overflow: auto;
        height: auto;
    }

    #thumb-selector-inner {
        width: auto;
        position: static;
        overflow: auto;
        height: auto;
    }

    #thumb-selector img {
        opacity: 1;
        width: 100%;
    }

    #sidebar {
        width: 100%;
        position: static;
        overflow: auto;
        height: auto;
    }

    #sidebar #toggle-fullscreen {
        display: none !important;
    }

    #infobox {
        font-size:1.2em; 
        position:absolute;
        z-index:200;
        top: 90px;
        left: 0;
        right: 0;
        width: auto;
    }

    .title {
        float: none; 
        width: 100% !important;
        padding: 3px 0 0 !important;
        margin: 0;
    }

    .text {
        width: 100% !important;
        float: none;
        padding: 0;
        margin: 0;
    }

    td {
        width: 100%;
        display:block;
    }

    table {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .gradient {
        background-color: #6f7072; 
        background-image: -webkit-linear-gradient(bottom, #6f7072, #6f7072); 
        background-image:    -moz-linear-gradient(bottom, #6f7072, #6f7072);
        background-image:     -ms-linear-gradient(bottom, #6f7072, #6f7072);
        background-image:      -o-linear-gradient(bottom, #6f7072, #6f7072);
    }
}
