{% load thumbnail %}
{% load static %}
{% load staticfiles %}
{% load media_thumb %}

{% for m in media %}
	<li data-thumb="{% media_thumb m 120 2000 %}">
		{% if m.media_type == "Movie" %}
			<video controls>
			{% for file in m.file_set.all %}
				<source src="{{MEDIA_URL}}/media/{{ file }}" type="{{ file.content_type }}">
			{% endfor %}
			</video>
		{% elif m.media_type == "Sound" %}
			<audio controls>
				{% for file in m.file_set.all %}
					<source src="{{MEDIA_URL}}/media/{{ file }}" type="{{ file.content_type }}">
				{% endfor %}
			</audio>	
		{% else %}
			<canvas data-image="{{MEDIA_URL}}/media/{{ m.filename }}"></canvas>
		{% endif %}
	</li>
{% endfor %}	

{# vi: se ft=htmldjango noet: #}
