@charset "UTF-8";
/* CSS Document */

* {padding:0; margin:0; font-size:100%;}

html { font-size:100%;} /*For IE*/

header, section, footer, aside, nav, article, figure { display: block; }/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

body { font-size:62.5%; background-color:#ddd; font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif;}

a {text-decoration:none;}

h1 { position:relative; top:3px; text-transform:uppercase; color:#ccc; font-weight:normal; font-size:4em;}

#pagewrap { background-color:white; width:1100px; margin:auto; position:relative; border:1px solid red;}

header {clear:both; position:relative;}

#left {width:260px; height:auto; position:relative; float:left; border: 1px solid red; padding:10px 0px 20px 20px;}

#middle {float:left; width:530px; height:auto; position:relative; text-align:center; border: 1px solid blue;}

#right {width:260px; height:auto; position:relative; float:right; border: 1px solid red; padding:10px 0px 20px 20px;}

footer {clear:both;}

.featured {border:1px solid red; top:8px; position:relative; width:100%; height:auto; clear: both;}

#thumb {float:left; margin-top: 15px; width:530px;}

#thumb img {width:102px; height:auto; margin-right: 2px; margin-left: 2px;}

label {
	text-transform:uppercase; 
	color:#39C; 
	font-size:1.2em; 
	padding-left:5px; 
	letter-spacing: 0.1em;
}

input {padding: 5px 0px 5px 5px; background-color:#ddd; border-style:none;}

.enkel {width:238px; margin-bottom:6px;}

.enkel2 {width:238px;height:40px; margin-bottom:6px;}

.supplerende {width:238px; height:100px; margin-bottom:6px;}

.dobbel {width:113.5px; margin-bottom:6px; margin-right:6px;}

.trippel {width:72px; margin-bottom:6px; margin-right:6px;}

#buttonrow {float:left; width:450px; padding-left:80px; border:1px solid red; margin-top:5px;}

.styleFileInput {
    position: relative;
	float:left;
	margin-right:5px;
	margin-left:5px;
}

.browseButton_bilder, .browseButton_film, .browseButton_lyd, .browseButton_tekst {
    font-size: 1.2em;
	text-transform:uppercase;
    padding: 3px 8px;
	width:80px;
	height:30px;
}

.browseButton_bilder {background-color:#F99;}

.browseButton_film {background-color:#9CC;}

.browseButton_lyd {background-color:#FF9;}

.browseButton_tekst {background-color:#6C6;}

input.theFileInput{
    position:absolute;
    top:0px;
    left:0px;    
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity:0);
    z-index:2;
    width:80px;
	height:30px;
}

.dropdown {margin:3px 0px 5px 5px; font-size:1.2em;}

.radio {margin:3px 0px 5px 5px; font-size:1.2em;}

