@charset "UTF-8";
/* CSS Document */

* {padding:0; margin:0; font-size:100%;}

html { font-size:100%;} /*For IE*/

header, section, footer, aside, nav, article, figure { display: block; }/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

body { font-size:62.5%;}

a {text-decoration:none;}

#logo { position:absolute; bottom:25px; left: 30px;}

#logo a { font-size:3.5em; color:white; text-transform:uppercase; font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif; font-weight:normal; /*text-shadow: 0px 0px 5px #000*/display:block; }

nav { width:95%; margin:20px auto 0px auto; }

.emne {color:black; background-color:white; text-transform:uppercase; display:block; font-size:1.7em; font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif; font-weight:normal; padding:3px 4px 4px 4px; float:left; margin:5px;}

.emne:hover {background-color:#000; color:white;}

.emne:active {color:white; background-color:#F09;}

  .corner-stamp {
    /*width: 280px;*/
    /*height: 340px;*/
    /*padding: 10px;*/
    margin: 5px;
    float: left;
    background: red;
    color: white;
  }

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}