<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Copyright</title>

<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href='{{STATIC_URL}}css/style.css' media='screen' />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.9.2.custom.min.css" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1" />
</head>

<body>

<div id="page-wrap">
  
  <header>
    
    <nav id="main-nav">
    <a class="cat" href="/">tilbake</a>
    </nav>

<div id="copyright">

<p>&copy; BLAKER MEIERIS VENNER & GUTTORM GUTTORMSGAARD</p>
<p>Henvendelser til GUTTORMSGAARDS ARKIV: arkiv [at] obs-osv.com</p>
</br>
<p>Nettsiden er designet av Guttorm Guttormsgaard i samarbeid med Thomas Sørlie Hansen.</p>
<p>Mange av filmene og de fleste bildene er tatt av fotograf Silje Schild: siljeschild [at] gmail.com</p>
<p>Jorn-bildene er tatt av fotograf Anders Henriksen: fotograf.a.henriksen [at] gmail.com</p>
<p>Filmene er laget av Harald Paalgard og Guttorm Guttormsgaard.</p>
<p>Gjenstandene er registrert av grafisk designer Anna Prestsæter: a.prestsaeter [at] gmail.com</p>
<p>CSS og design-input av grafisk designer Thomas Sørlie Hansen: post [at] thomashansen.no</p>
<p>Implementering av Django og Python-programmering av Kim-Tore Jensen: <a href="http://incendio.no">Incendio.no</a></p>
</br>
<p>For mer om ARKIVET og kommende utstillinger se Blaker Meieris hjemmeside: <a href="http://www.obs-osv.com/Blakerprosjektet.html">www.obs-osv.com</a>

</div>

  </header>

</div>

</body>
</html>

