{% load thumbnail %}
{% load static %}
	
{%if m %}
	<a href="{% if node %}{% url 'node_and_item' node_pk=node.pk pk=item.pk %}{% else %}{% url 'item' pk=item.pk %}{% endif %}">
		<div class="thumb">
			<img src="{% if m.filename %}{% thumbnail m.filename "2000x200" %}{% else %}{% if m.media_type == "Image" %}{% static "images/thumb_image.jpg"%}{% elif m.media_type == "Movie" %}{% static "images/thumb_movie.jpg" %}{% elif m.media_type == "Sound" %}{% static "images/thumb_audio.jpg" %}{% elif m.media_type == "Text" %}{% static "images/thumb_text.jpg" %}{% elif m.media_type == "Misc" %}{% static "images/thumb_misc.jpg" %}{% endif %}{% endif %}" alt="{{ m }}" />
		</div>
	</a>
{% else %}
	<a href="{% if node %}{% url 'node_and_item' node_pk=node.pk pk=item.pk %}{% else %}{% url 'item' pk=item.pk %}{% endif %}">
		<div class="thumb">
			<img src="{% static "images/thumb_item.jpg" %}" alt="{{ item }}" />
			<p>{{ item }}</p>
		</div>
	</a>
{% endif %}
