{% load thumbnail %}
{% load static %}

<ul>
{% for m  in media %}
	<li>
		<a href="{{m.pk}}">
		<img src="{% if m.filename %}{% thumbnail m.filename "50x50" %}{% else %}{% if m.media_type == "Image" %}{% static "images/thumb_image.jpg"%}{% elif m.media_type == "Movie" %}{% static "images/thumb_movie.jpg" %}{% elif m.media_type == "Sound" %}{% static "images/thumb_audio.jpg" %}{% elif m.media_type == "Text" %}{% static "images/thumb_text.jpg" %}{% elif m.media_type == "Misc" %}{% static "images/thumb_misc.jpg" %}{% endif %}{% endif %}" style="height: 50px; width: 50px;" />
		{{m}}</a>
	</li>	
{% endfor %}
</ul>
