{% load feature_image %}

<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Guttormsgaards ARKIV</title>


<link rel="stylesheet" href="{{STATIC_URL}}css/supersized.core.css" type="text/css" media="screen" />


<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media='screen and (min-width: 600px) and (max-width: 2500px)' href="{{STATIC_URL}}css/style.css" type="text/css">
<link rel="stylesheet" media='screen and (min-width: 300px) and (max-width: 599px)' href='{{STATIC_URL}}css/style-smaller.css' />
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-1.9.1.custom.min.css" type="text/css" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/supersized.core.3.2.1.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/museum_functions.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#content').isotope({
			itemSelector: '.thumb',
			layoutMode: 'masonry'
		});
	});
</script>

</head>

<body>

<header>
	<div id="logo"><h1><a href="/">guttormsgaards arkiv</a></h1></div>
	<!-- <div id="search"><input type="text" id="searchbox" /></div> -->
	
	<nav>	
		{% for cnode in parent %}
			{% if node.is_root_node %}
				{% if object_list.count == 0 %}
					<a class="corner-stamp cat" href="/">{{ cnode.name }} </a>
				{% else %}
					<a class="corner-stamp cat-lvl-3" href="/">{{ cnode.name }} </a>
				{% endif %}
			{% else %}
				{% if object_list.count == 0 %}
					<a class="corner-stamp cat" href="{% url 'node' node_pk=cnode.pk  %}">{{ cnode.name }} </a>
				{% else %}
					<a class="corner-stamp cat-lvl-3" href="{% url 'node' node_pk=cnode.pk  %}">{{ cnode.name }} </a>
				{% endif %}
			{% endif %}
			
		{% endfor %}
		{% if current %}
			{% if current.is_root_node %}
				{% if object_list.count == 0 %}
					<a class="corner-stamp cat" href="/">{{ current.name }} </a>
				{% else %}
					<a class="corner-stamp cat-lvl-3" href="/">{{ current.name }} </a>
				{% endif %}
			{% else %}
				{% if object_list.count == 0 %}
					<a class="corner-stamp cat" href="{% url 'node' node_pk=current.pk %}">{{ current.name }} </a>
				{% else %}
					<a class="corner-stamp cat-lvl-3" href="{% url 'node' node_pk=current.pk %}">{{ current.name }} </a>
				{% endif %}
			{% endif %}
		{% endif %}
		{% for cnode in nodes %}
				{% if object_list.count == 0 %}
					<a class="cat" href="{% url 'node' node_pk=cnode.pk %}">{{ cnode.name }} </a>
				{% else %}
					<a class="corner-stamp cat-lvl-3" href="{% url 'node' node_pk=cnode.pk %}">{{ cnode.name }} </a>
				{% endif %}
		{% endfor %}
    	</nav>
</header>
	
	<div id="content">
		{% for item in object_list %}
			{% feature_image item current %}	
		{% endfor %}
	</div>

<footer>

{% if bg %}
<script type="text/javascript">
			jQuery(function($){
				
				$.supersized({
					slides  :  	[ {image : '{{STATIC_URL}}images/supersized/{{ bg }}', title : 'xxx'} ]
				});
		    });
</script>
{% endif %}

<script type="text/javascript" src="{{STATIC_URL}}js/functions.js"></script>

</footer>

</body>

</html>
