<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Item-title</title><!--dynamisk sette inn gjenstandsnavnet her?-->

<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media='screen and (min-width: 600px) and (max-width: 2500px)' href='css/style.css' />
<link rel="stylesheet" media='screen and (min-width: 1px) and (max-width: 599px)' href='css/style-smaller.css' />
<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.9.2.custom.min.css" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>

</head>

<body>

<header>
    
</header>

<section>
  
  <!--<img src="images/jorn1.jpg"/>sett inn bilde her-->
  
  <div class="infoboks gradient-bg">

  <table border="0">
  <tr>
  <td><p class="header">TITTEL/BETEGNELSE</p></td>
  <td><p class="text">Held og Hasard. Dolk og guitar.</p></td>
  </tr>
  <tr>
  <td><p class="header">KUNSTNER/PRODUSENT</p></td>
  <td><p class="text">Asger, Jorn.</p></td>
  </tr>
  <tr>
  <td><p class="header">DATERING</p></td>
  <td><p class="text">1952.</p></td>
  </tr>
  <tr>
  <td><p class="header">OPPHAVSSTED</p></td>
  <td><p class="text">Silkeborg, Danmark.</p></td>
  </tr>
  <tr>
  <td><p class="header">DIMENSJONER</p></td>
  <td><p class="text">Bredde: 19,2 cm. Høyde: 26 cm.</p></td>
  </tr>
  <tr>
  <td><p class="header">MATERIALE/TEKNIKK</p></td>
  <td><p class="text">Linoleumstrykk og trykk på papir, innbundet.</p></td>
  </tr>
  <tr>
  <td><p class="header">SUPPLERENDE</p></td>
  <td><p class="text">Silkeborg: Privattryk, 1952. Nr. 21. Utgitt i 25 nummererte og signerte eksemplarer. Illustrasjoner i linoleumssnitt, håndtrykket på imitert bøttepapir. Trykket i tre opplag med ulike papirkvaliteter, i henholdsvis 24, 64 og 25 eks.</p></td>
  </tr>
  <tr>
  <td><p class="header">REFERANSELITTERATUR</p></td>
  <td><p class="text">"Lysten og hemmeligheten", Guttorm Guttormsgaard, Pax forlag, 2004.</p></td>
  </tr>
  </table>

  </div><!--END OF INFOBOKS-->
  
  
</section>

<aside>
  
  <a href="#" class="cat-lvl-3">tilbake</a>
  
  <div id="thumb-slider">
    
    <a href="#" data-icon="&#x2191;" class="slider-arrow"></a>
    
    <a href="#"><img src="images/jorn1.jpg" alt=""></a>
    <a href="#"><img src="images/jorn2.jpg" alt=""></a>
    <a href="#"><img src="images/jorn3.jpg" alt=""></a>
    <a href="#"><img src="images/jorn4.jpg" alt=""></a>
    <a href="#"><img src="images/jorn3.jpg" alt=""></a>
      
    <a href="#" data-icon="&#x2193;" class="slider-arrow"></a>
     
  </div><!--END OF THUMB-SLIDER-->
  
  <a href="#" class="cat-lvl-3">se film</a><!--åpner video som overlay mot svart bakgrunn-->
  <a href="#" class="cat-lvl-3">lydklipp</a>
  <a href="#" class="cat-lvl-3">info</a>

  <div id="mini-map">
    <a href="#"><img src="images/jorn1.jpg" alt=""></a>
    <a href="#" data-icon="&#x271a;"></a>
    <a href="#" data-icon="&#x23bc;"></a>
    <a href="#" data-icon="&#x2715;"></a>
  </div>
  
</aside>
  



<footer>

<script type="text/javascript" src="js/functions.js"></script>

</footer>

</body>

</html>
