{% load i18n %}
{% load item_media %}

<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Guttormsgaards ARKIV</title>

<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/supersized.core.css" type="text/css" media="screen" />
<link rel="stylesheet" media='screen and (min-width: 600px) and (max-width: 3000px)' href='{{STATIC_URL}}css/style.css' />
<link rel="stylesheet" media='screen and (min-width: 1px) and (max-width: 599px)' href='{{STATIC_URL}}css/style-smaller.css' />
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-1.9.1.custom.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flexslider.css" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/museum_functions.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.flexslider-min.js"></script>

</head>

<body>

	<header>
		
		<div id="nav">	
			<a class="corner-stamp2 emne2" href="/">Guttormsgaards arkiv</a>
			
			{% for node in parent %}
				<a class="corner-stamp2 emne2" href="{% url 'node' node_pk=node.pk  %}">{{ node.name }} </a>
			{% endfor %}
			{% if current %}
				{% if current.is_root_node %}
					<a class="corner-stamp2 emne2" href="/">{{ current.name }} </a>
				{% else %}
					<a class="corner-stamp2 emne2" href="{% url 'node' node_pk=current.pk %}">{{ current.name }} </a>
				{% endif %}
			{% endif %}
			{% for node in nodes %}
				<a class="emne2" href="{% url 'node' pk=node.pk %}">{{ node.name }} </a>
			{% endfor %}
    		</div>
	</header>
	
	{% item_media object %}
	<div class="infoboks">
		<table border="0">
			{% if object.title %}
			<tr>
				<td><p class="header">{%trans "title" %}</p></td>
				<td><p class="text">{{object.title}}</p></td>
			</tr>
			{% endif %}
			{% if object.artist %}
			<tr>
				<td><p class="header">{%trans "artist" %}</p></td>
				<td><p class="text"><a href="{% url 'artist' artist=object.artist %}">{{object.artist}}</a></p></td>
			</tr>
			{% endif %}
			{% if object.date_from or object.date_to %}
			<tr>
				<td><p class="header">{%trans "dating" %}</p></td>
				<td><p class="text">
					{% if object.date_from %}
						{%trans "from" %} {{ object.date_from }}. 
					{% endif %}
					{% if object.date_to %}{% if objects.date_from %} - {% endif %}
						{%trans "to" %} {{ object.date_to }}.
					{% endif %}
					{% if object.dating_certainty %}
						{% blocktrans %}{{ object.dating_certainty }}{%endblocktrans%}
					{% endif %} 
				</p></td>
			</tr>
			{% endif %}
			{% if object.origin_city or object.origin_country %}
			<tr>
				<td><p class="header">{%trans "origin" %}</p></td>
				<td><p class="text">Kina.
				{% if object.origin_city %}
					<a href="{% url 'city' city=object.origin_city %}" />{{object.origin_city}}</a>
				{% endif %} 
				{%if object.origin_country %}
				 <a href="{% url 'country' country=object.origin_country %}">{{ object.origin_country  }}</a>
				{% endif %} 
				 {% blocktrans %}{{ object.origin_certainty}}{% endblocktrans %}
				</p></td>
			</tr>
			{% endif %}
			{% if object.dim_height or object.dim_width or object.dim_depth or object.dim_weight %}
			<tr>
				<td><p class="header">{%trans "dimensions" %}</p></td>
				<td><p class="text">
					{% if object.dim_width %}
						{% trans "width" %}: {{object.dim_width}} cm
					{% endif %}
					{% if object.dim_height %}
						{% trans "height" %}: {{object.dim_height}} cm
					{% endif %}
					{% if object.dim_depth %}
						{% trans "depth" %}: {{object.dim_depth }} cm
					{% endif %}
					{% if object.dim_weight %}
						{% trans "weight" %}: {{object.dim_weight }} cm
					{% endif %}
				</p></td>
			</tr>
			{% endif %}
			{% if object.materials.count > 0 %}
			<tr>
				<td><p class="header">MATERIALE/TEKNIKK</p></td>
				<td><p class="text">{% for m in object.materials.all %}{{m}}{% if not forloop.last %},  {% endif%}{% endfor%}</p></td>
			</tr>
			{% endif %}
			{%if object.description %}
			<tr>
				<td><p class="header">{%trans "description" %}</p></td>
				<td><p class="text">{{object.description}}</p></td>
			</tr>
			{% endif %}
		</table>
	<div>

<footer>

<script type="text/javascript" src="{{STATIC_URL}}js/functions.js"></script>

</footer>

</body>

</html>
