<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Guttormsgaards ARKIV</title>

<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/supersized.core.css" type="text/css" media="screen" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/supersized.core.3.2.1.min.js"></script>

</head>

<body>

<header>
	<nav>	
		{% if parent %}
			{% if parent.is_root_node %}
				<a class="corner-stamp emne" href="/">{{ parent.name }} </a>
			{% else %}
				<a class="corner-stamp emne" href="/node/{{ parent.parent.pk }}">{{ parent.name }} </a>
			{% endif %}
		{% endif %}
		{% for node in nodes %}
			<a class="emne" href="/node/{{ node.pk }}">{{ node.name }} </a>
		{% endfor %}
    	<nav>
</header>
	
	<div style="margin-top: 4em;">
		{% for item in object_list %}
			<a class="emne" href="/item/{{ item.pk }}">{{ item.title }} </a>
		{% endfor %}
	<div>

<footer>
<div id="logo"><h1><a href="/">guttormsgaards arkiv</a></h1></div>

<script type="text/javascript"><!--Kan dette legges i functions?-->
			jQuery(function($){
				
				$.supersized({
					slides  :  	[ {image : '{{STATIC_URL}}images/supersized/flyvemann1.jpg', title : 'xxx'} ]
				});
		    });
</script>
            
<script type="text/javascript" src="{{STATIC_URL}}js/functions.js"></script>

</footer>

</body>

</html>
