{% load i18n %}
{% load item_media %}

<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Guttormsgaards ARKIV</title>

<link rel="stylesheet" href="{{STATIC_URL}}css/supersized.core.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media='screen and (min-width: 600px) and (max-width: 2500px)' href="{{STATIC_URL}}css/style.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-1.9.1.custom.min.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mediaview.css" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/museum_functions.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/extjs/ext-core.js"></script>    
    
<script type="text/javascript" src="{{STATIC_URL}}js/fullscreen/jquery.fullscreen-min.js"></script>    
<script type="text/javascript" src="{{STATIC_URL}}js/mediaview/jquery.mousewheel.js"></script>    
<script type="text/javascript" src="{{STATIC_URL}}js/mediaview/jquery.mediaview.js"></script>    
<script type="text/javascript" src="{{STATIC_URL}}js/mediaview/mediaview.js"></script>    

</head>

<body>

	<div id="mediaview">

		<nav id="sidebar">	

			<a class="blocklink" href="{% url 'node' node_pk=current.pk %}">Tilbake</a>

			<a class="blocklink" id="toggle-fullscreen" href="javascript:;">Fullskjerm</a>

			<a class="blocklink" id="toggle-details" href="javascript:;">Info</a>

			<div id="thumb-selector-container">
				<div id="scroll-up" class="blocklink">&#x25B2;</div>
				<div id="thumb-selector-inner">
					<div id="thumb-selector"></div>
				</div>
				<div id="scroll-down" class="blocklink">&#x25BC;</div>
			</div>

			{% comment %}
			<div id="thumb-navigator"></div>
			{% endcomment %}

		</nav>

		<div id="infobox" class="gradient">
			<table border="0">
				{% if object.title %}
				<tr>
					<td><p class="title">{%trans "title" %}</p></td>
					<td><p class="text">{{object.title}}</p></td>
				</tr>
				{% endif %}
				{% if object.artist %}
				<tr>
					<td><p class="title">{%trans "artist" %}</p></td>
					<td><p class="text"><a href="{% url 'artist' artist=object.artist %}">{{object.artist}}</a></p></td>
				</tr>
				{% endif %}
				{% if object.date_from or object.date_to %}
				<tr>
					<td><p class="title">{%trans "dating" %}</p></td>
					<td><p class="text">
						{% if object.date_from %}
							{% if object.dating_certainty %}
								<span style="text-transform: capitalize;">{%trans "from" %}{% if object.dating_certainty != "sure" %}</span> {%trans "approx" %}. {% endif %} {{ object.date_from }} 
							{% endif%}
						{% endif %}
						{% if object.date_to %}
							{% if object.date_from %} {%trans "to" %} {{ object.date_to }}
							{% else %}
								<span style="text-transform: capitalize;">{%trans "to" %}</span> {{ object.date_to }}
							{% endif %}
						{% endif %}
					</p></td>
				</tr>
				{% endif %}
				{% if object.origin_city or object.origin_country %}
				<tr>
					<td><p class="title">{%trans "origin" %}</p></td>
					<td><p class="text">
					{% if object.origin_city %}
						<a href="{% url 'city' city=object.origin_city %}" />{{object.origin_city}}</a>
					{% endif %} 
					{%if object.origin_country %}
					{%if object.origin_city %}, {%endif%}
					<a href="{% url 'country' country=object.origin_country %}">{{ object.origin_country  }}</a>
					{% endif %} 
					 {% blocktrans %}{{ object.origin_certainty}}{% endblocktrans %}
					</p></td>
				</tr>
				{% endif %}
				{% if object.dim_height or object.dim_width or object.dim_depth or object.dim_weight %}
				<tr>
					<td><p class="title">{%trans "dimensions" %}</p></td>
					<td><p class="text">
						{% if object.dim_width %}
							<span style="text-transform: capitalize;">{% trans "width" %}</span>: {{object.dim_width}} cm.
						{% endif %}
						{% if object.dim_height %}
							<span style="text-transform: capitalize;">{% trans "height" %}</span>: {{object.dim_height}} cm.
						{% endif %}
						{% if object.dim_depth %}
							<span style="text-transform: capitalize;">{% trans "depth" %}</span>: {{object.dim_depth }} cm.
						{% endif %}
						{% if object.dim_weight %}
							<span style="text-transform: capitalize;">{% trans "weight" %}</span>: {{object.dim_weight }} cm.
						{% endif %}
					</p></td>
				</tr>
				{% endif %}
				{% if object.materials.count > 0 %}
				<tr>
					<td><p class="title">MATERIALE/TEKNIKK</p></td>
					<td><p class="text">{% for m in object.materials.all %}{{m}}{% if not forloop.last %},  {% endif%}{% endfor%}</p></td>
				</tr>
				{% endif %}
				{%if object.description %}
				<tr>
					<td><p class="title">{%trans "description" %}</p></td>
					<td><p class="text">{{object.description}}</p></td>
				</tr>
				{% endif %}
			</table>
		</div>

		<div id="container">

			<ul>{% item_media object %}</ul>

		</div>

	</div>
	
</body>

</html>

{# vi: se ft=htmldjango noet: #}
