{% load thumbnail %}
{% load static %}


<div id="item">
	<div class="flexslider">
		<ul class="slides">
			{% for m in media %}
				{{ m.filename.content_type }}
				<li data-thumb="{% thumbnail m.filename "2000x100" %}">
					{% if m.media_type == "Movie" %}
    						<video controls>
							{% for file in m.file_set.all %}
    								<source src="{{MEDIA_URL}}/media/{{ file }}" type="{{ file.content_type }}">
							{% endfor %}
    						</video>	
					{% else %}
						<img class="item-img" src="{{ MEDIA_URL}}/media/{{ m.filename }}" />
					{% endif %}
				</li>
			{% endfor %}	
		</ul>
	</div>
</div>
