{% load thumbnail %}
{% load static %}
{% load i18n %}
{% load media_thumb %}

<div style="clear: none; float: left; background-color: #F6F6F6; padding: 2px;">
<a href="{% get_media_prefix %}{{ m.filename }}" rel="popshowit" style="clear: none;">
			<img src="{% media_thumb m 50 50 %}" style="height: 50px; width: 50px; clear: none; display: inline;" />
</a>
</div>
<div style="display: inline; margin-right: 5em; float: left; ">
<ul style="display: inline; clear: none;">
	<li style="list-style-type: none; list-style: none;"> Bilde: {{ m.filename }}
	<li style="list-style-type: none; list-style: none;"> Type: {{ m.media_type }}
	
	{% if msg %}
	<li style="list-style-type: none; list-style: none; color: red;"> Warning! File attachment not found!
	{% endif %}
</ul>
</div>
{% if m.file_set.count != 0 %}
<div style="float: left; clear: left;">
{% trans "Files" %}:
<ul>
{% for f in m.file_set.all %}	
<li style="list-style: none;"> {{ f }}
{% endfor %}
</ul>
</div>
{% endif %}

{# vi: se ft=htmldjango: #}
