<!DOCTYPE HTML>
{% load i18n %}
<html>
    <head>
        <meta charset=UTF-8>
        <title>Søk i ARKIVET</title>

        <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media='screen' href='{{STATIC_URL}}css/style.css' />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.9.2.custom.min.css" />

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.9.2.custom.min.js"></script>

        <style>
            .ui-widget {
                max-height: 10em;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        </style>

    </head>

    <body>

        <div id="searchbox-container">
        <div class="searchbox">
            <a class="cat breadcrumbs" href="/">{% trans "Back" %}</a>
            <h1>Søk i arkivet</h1>
            <form action="{% url "item_search_results" %}" method="GET">

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {% if field.name == "date_from" %}
                        <p>
                            <label for="id_{{ field.name }}">Datering</label>
                            {{ field }}
                    {% elif field.name == "date_to" %}
                            {{ field }}
                        </p>
                    {% elif field.name == "origin_city" %}
                        <p>
                            <label for="id_{{ field.name }}">Opphavssted</label>
                            {{ field }}
                    {% elif field.name == "origin_country" %}
                            {{ field }}
                        </p>
                    {% else %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                        </p>
                    {% endif %}
                {% endfor %}

                <input type="submit" value="Søk" />

            </form>
        </div>
        </div>

        <script type="text/javascript" src="{{STATIC_URL}}js/functions.js"></script>

    </body>

</html>

{# vi: se ft=htmldjango: #}
