{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block content %}
	{{ block.super }}
	<form method="POST" action="/admin/archive/item/search/">
	<p>
	  <label for="id_item_number">{{ search_form.item_number.label }}</label>
	  {{ search_form.item_number_choices }}
	  {{ search_form.item_number }}
	<p>
	<p>
	  <label for="id_item_number">{{ search_form.title.label }}</label>
	  {{ search_form.title_choices }}
	  {{ search_form.title }}
	<p>
	<p>
	  <label for="id_condition">{{ search_form.condition.label }}</label>
	  {{ search_form.condition }}
	<p>
	<p>
	  <label for="id_condition_comment">{{ search_form.condition_comment.label }}</label>
	  {{ search_form.condition_comment }}
	<p>
	<p>
	  <label for="id_dim_height">{{ search_form.dim_height.label }}</label>
	  {{ search_form.dim_height_choices }}
	  {{ search_form.dim_height }}
	<p>
	<p>
	  <label for="id_dim_width">{{ search_form.dim_width.label }}</label>
	  {{ search_form.dim_width_choices }}
	  {{ search_form.dim_width }}
	<p>
	<p>
	  <label for="id_dim_depth">{{ search_form.dim_depth.label }}</label>
	  {{ search_form.dim_depth_choices }}
	  {{ search_form.dim_depth }}
	<p>
	<p>
	  <label for="id_dim_weight">{{ search_form.dim_weight.label }}</label>
	  {{ search_form.dim_weight_choices }}
	  {{ search_form.dim_weight }}
	<p>
	{% csrf_token %}
	<input type="submit" />
	</form>
	
	
{% endblock %}

