<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Søk i ARKIVET</title>

<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media='screen and (min-width: 600px) and (max-width: 2500px)' href='css/style.css' />
<link rel="stylesheet" media='screen and (min-width: 1px) and (max-width: 599px)' href='css/style-smaller.css' />
<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.9.2.custom.min.css" />

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>

</head>

<body>

<header>  
</header>

<div class="searchbox">
	
	<a class="cat-lvl-3" href="index.html">tilbake</a>
	
	<h1>søk i arkivet</h1>
	
	<form>

	  <label for="category">Kategori</label><input type="text" id="category" name="category"><br>
	  <label for="title">Tittel</label><input type="text" id="title" name="title"><br>
	  <label for="artist">Kunstner/produsent</label><input type="text" id="artist" name="artist"><br>
	  
	  <label for="from">Datering</label><input type="text" id="from" name="from" value="fra" class="value-text" onfocus="this.value = '', this.style.color='#000'">
	  
	  <input type="text" id="to" name="to" value="til" class="value-text" onfocus="this.value = '', this.style.color='#000'"><br>
	  
	  <label for="city">Opphav</label><input type="text" id="city" name="city" value="by" class="value-text" onfocus="this.value = '', this.style.color='#000'">
	  
	  <input type="text" id="country" name="country" value="land" class="value-text" onfocus="this.value = '', this.style.color='#000'"><br>
	  
	  <label for="materials">Materiale/teknikk</label><input type="text" id="materials" name="materials"><br>
	  <label for="text">Fritekst</label><input type="text" id="text" name="text"><input type="submit" id="search" value="Søk"><br>
	  <label for="checkmovie" id="filmgjenstander">Finn kun gjenstander med film</label><input type="checkbox" id="checkmovie" name="checkmovie" value="film">
		
	</form>
	
</div><!--END OF SEARCHBOX -->

<footer>

<script type="text/javascript" src="js/functions.js"></script>

</footer>

</body>

</html>