<!DOCTYPE HTML>
<html>
<head>
<meta charset=UTF-8>
<title>Guttormsgaards ARKIV</title>

<link href="css/style2.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/supersized.core.css" type="text/css" media="screen" />
<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
<!--<script src="js/jquery.masonry.min.js"></script>
<script src="js/modernizr-transitions.js"></script>-->
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/supersized.core.3.2.1.min.js"></script>
<script type="text/javascript">
jQuery(function ($) {
    $.supersized({
        slides: [{image : 'images/supersized/flyvemann2.jpg', title : 'xxx'} ]
    });
});
</script>
<script src="js/functions.js"></script>
        
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<header>
	<nav>
    <a class="emne2 corner-stamp" href="index.html">bøker</a><a class="emne" href="#">arabiske</a><a class="emne" href="#">artist's books</a><a class="emne" href="#">bewick</a><a class="emne" href="#">fagbøker</a><a class="emne" href="#">fotobøker</a><a class="emne" href="#">grønland</a><a class="emne" href="#">guttorms bøker</a><a class="emne" href="#">illustrerte bøker</a><a class="emne" href="#">inkunabler</a>
    </nav>
</header>


<footer>
<div id="logo"><h1><a href="index.html">guttormsgaards arkiv</a></h1></div>
</footer>

</body>

</html>