.aligned label:not(.inline){
	width: 15em;
}

.aligned label.inline {
	width: auto;
}

.ui-autocomplete {
	background-color: #F6F6F6;
	max-height: 10em;
	overflow-y: auto;
	overflow-x: hidden;
	width: 200px;
}

.ui-autocomplete > li {
	list-style-type: none;
}

div.suggested_media li {
	list-style-type: none;
	margin-left: 0px;
	clear: none;
	padding-left: 0px;
	list-style-position: inside;
}

div.suggested_media ul {
	margin-left: 0px;
	clear: none;
	padding-left: 0px;
	list-style-position: inside;
}

.ui-autocomplete > li:hover {
	color: red;
}

#id_address, #id_area, #id_location, #id_room {
	min-width: 90%;
	width: 90%;
}

textarea {
	resize: none;
	width: 80em;
}

.select_media_button {
	float: right;
}

.field-media > .add-another {
	display: none;
}

ul.media_suggestion_matrix {
	padding-left: 0px;
}

ul.media_suggestion_matrix > li {
	float: left;
	list-style: none;
	margin: 1px;
	padding: 2px 5px;
}
