/**
 * MediaView plugin CSS
 *
 * @author: Kim Tore Jensen <kim@incendio.no>
 */

#mediaview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #232323;
}

#mediaview ul {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 180px;
}

#mediaview ul li {
    display: none;
}

#mediaview canvas {
    cursor: move;
}

#mediaview .loading {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

#sidebar {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 140px;
    padding: 3em 20px 0;
    background: #707172;
}

#sidebar .nav-window {
    background: black;
}

#sidebar .thumb-selector {
    clear: both;
}

#sidebar .thumb-selector img {
    display: block;
    margin: 1em 0;
    cursor: pointer;
    opacity: 0.6;
}

#sidebar .thumb-selector img.active {
    opacity: 1.0;
}

#sidebar .thumb-selector img:hover {
    opacity: 1.0;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#sidebar .thumb-navigator {
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 180px;
    background: black;
}

.infoboks {
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
	font-size:1.5em; 
	font-weight:normal; 
	color:#fff;
	background-color:#6f7072;
	line-height:1.5em;
	width:500px; 
	padding:15px 145px 15px 15px;
	position:absolute;
	right: 180px;
	top: 0;
    z-index: 1;
    display: none;
}
	
.infoboks a {color:#ccc;}

.infoboks a:hover {color:#aaaaaa;}

.infoboks a:active {color:#53a1f1;}

.blocklink {
    color:#FFF;
    background-color:#aaaaaa; 
    text-transform:uppercase; 
    display:block; 
    font-size:1.6em; 
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
    font-weight:normal; 
    padding:4px 3px 4px 3px; 
    text-align: center;
    margin: 0.5em 0;
}

.blocklink:hover, .blocklink.active {
    background-color:#000; 
    color:white;
}

.blocklink:active {
    background-color:#53a1f1;
    color:white; 
}
