@charset "UTF-8";
/* CSS Document */

/* Globale */

* {
	padding:0; 
	margin:0; 
	font-size:100%;
	}

html {font-size:100%;} /*For IE*/

img {border:none;}

header, section, footer, aside, nav, article, figure {display: block;}/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

body { 
	font-size:62.5%; 
	background-color:#6f7072;
	}

html,body {
	height:100%;
}

a {text-decoration:none;}

ul {list-style:none;}

video {  
   	width:100%; 
   	max-width:1200px; 
   	height:auto;
	}
	
audio {
	width:100%; margin-top:300px;}

/* Navigering */

nav { 
	width:95%;
	margin:50px auto 0px auto;
	}

#nav {
	width:95%; 
	margin-top:10px; 
	margin-left:2.5%; 
	float:left;  
	}

.cat {
	color:#000; 
	background-color:#FFF; 
	text-transform:uppercase; 
	display:block; 
	font-size:1.5em; 
	font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif; 
	font-weight:normal; 
	padding:2px 3px 3px 3px; 
	float:left; 
	margin:4px;
	}

.cat:hover {
	color:#FFF;
	background-color:#000; 
	}

.cat:active {
	color:#FFF; 
	background-color:#53a1f1;
	}

.cat-lvl-3 {
	color:#FFF;
	background-color:#aaaaaa; 
	text-transform:uppercase; 
	display:block; 
	font-size:1.5em; 
	font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif; 
	font-weight:normal; 
	padding:2px 3px 3px 3px; 
	float:left; 
	margin:4px;
	}

.cat-lvl-3:hover {
	background-color:#000; 
	color:white;
	}

.cat-lvl-3:active {
	background-color:#53a1f1;
	color:white; 
	}

.corner-stamp {
	float:left;
	background:#aaaaaa;
	color:#FFF;
	}

#logo { 
	position:absolute; 
	top:10px; 
	left:2.5%;  
	}

#logo a {
	font-size:3.3em;
	color:white;
	text-transform:uppercase;
	font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	display:block;
	}

#logo a:hover {color:black;}

/* Gjenstandsnivå */

/*#item {
	width:95%;
	max-width:900px;
	margin-top:10px;
	margin-left:2.5%;
	padding-left:4px;
	position:relative;
	float:left;
	overflow:hidden;
	}
	
.item-img-landscape {
	max-width:100%;
	height:auto;
	}
	
.item-img-portrait {
	max-height:900px;
	width:auto;
}*/

section {
	overflow:hidden;
	width:100%;
	height:100%;
	background-color:#272727;
}

aside {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:130px;
	z-index:1000;
	background-color:#6f7072;
}

aside a.cat-lvl-3 {
	width:94px;
	padding:4px;
	text-align:center;
	margin:10px 0px 0px 14px;
	float:left;
}

#thumb-slider {
	position:relative;
	width:102px;
	float:left;
	margin:15px 0px 5px 14px;
}

#thumb-slider img {
	max-width:102px;
	max-height:68px;
	background-color:#aaaaaa;
	float:left;
	margin-top:7px;
}

#slider-arrow-frw {
	width:102px;
	height:17px;
	background-color:#aaaaaa;
	float:left;
	display:block;
}

#slider-arrow-back {
	width:102px;
	height:17px;
	background-color:#aaaaaa;
	float:left;
	display:block;
	margin-top:7px;
}

#slider-arrow-back:hover, #slider-arrow-frw:hover {
	background-color:#000;
	
}

.infoboks {
	width:95%; 
	max-width:900px; 
	margin-top:15px; 
	margin-left:2.5%; 
	float:left; 
	margin-bottom: 40px; 
	font-family:Gill Sans, 'Quattrocento Sans', arial, sans-serif; 
	font-size:1.5em; 
	font-weight:normal; 
	color:#666; 
	line-height:1.5em; 
	}
	
.infoboks a {color:#666;}

.infoboks a:hover {color:#000;}

.header {
	text-transform:uppercase; 
	background-color:#999; 
	color:white; 
	margin-right:5px; 
	float:right; 
	padding:0px 3px 0px 3px; 
	line-height:1.3em;
	}

td {vertical-align:top;}

#content {
	width:95%; 
	margin-top:5px; 
	margin-left:2.5%;
	float:left;
	}

.thumb {
	width:200px; 
	display:block; 
	float:left; 
	margin:5px;
	}


/* Søkeside */

.searchbox {
	background-color:#ccc;
	width:550px;
	height:330px;
	margin:82px auto;
	padding:5px 10px 20px 10px;
}

.searchbox a {
	margin:0px;
	position:relative;
	top:-35px;
	left:-10px;
}

.searchbox h1 {
	font-size:3.3em;
	color:#6f7072;
	text-transform:uppercase;
	font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	position:relative;
	left:127px;
	float:left;
}

.searchbox form {
	font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif;
	text-transform:uppercase;
	font-size:1.5em;
	color:#000;
}

.searchbox form label {
	float:right;
	position:relative;
	right:365px;
	padding:5px;
	margin-top:5px;
	clear:both;
}

#filmgjenstander {
	position:relative;
	right:110px;
	margin-top:0px;
}

input {
	font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif;
	border:none;
	position:relative;
	left:185px;
	margin:5px 0px 5px 5px;
}

input[type="text"] {
	width:270px;
	height:20px;
	padding:4px;
}

input[type="submit"] {
	padding:0px 10px;
	text-transform:uppercase;
	color:#FFF;
	background-color:#6f7072;
	margin:0px;
	height:28px;
}

input[type="submit"]:hover {
	background-color:#000;
}

input[type="submit"]:active {
	background-color:#53a1f1;
}

input[type="text"].value-text {
	color:#999;
	width:127px;
}

input[type="checkbox"] {
	position:relative;
	left:440px;
	top:2px;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}