@charset "UTF-8";
/* CSS Document */

/* Global */

* {
    padding:0; 
    margin:0; 
    font-size:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {font-size:100%; height: 100%;}/*font-size for IE*/

img {border:none;}

header, section, footer, aside, nav, article, figure {display: block;}/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

body { 
    font-size:62.5%;
    background-color:#6f7072;
    height:100%;
}

a {text-decoration:none;}

ul {list-style:none;}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Navigation */

#main-nav { 
    width:100%;
    float:left;
    margin-top:5px;
}

#logo { 
    float:left;
    position:relative;
    margin-top:10px; 
}

#logo a {
    font-size:3.3em;
    color:white;
    text-transform:uppercase;
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
    font-weight:normal;
    display:block;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#logo a:hover {
    color:black;
}

.cat {
    color:#000; 
    background-color:#FFF; 
    text-transform:uppercase; 
    display:block; 
    font-size:1.5em; 
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    font-weight:normal; 
    padding:2px 3px 3px 3px; 
    float:left; 
    margin:4px;
}

.cat:hover {
    color:#FFF;
    background-color:#333333; 
}

.cat:active {
    color:#FFF; 
    background-color:#53a1f1;
}

.breadcrumbs {
    color:#FFF;
    background-color:#aaaaaa; 
}

.breadcrumbs:hover {
    background-color:#333333; 
    color:white;
}

.breadcrumbs:active {
    background-color:#53a1f1;
    color:white; 
}

.muted {
  background-color:#616264;
  color:#ccc;
}

.search {
    color:#FFF; 
    background-color:#333333; 
}

.search:hover {
    color:#000;
    background-color:#FFF;
}

.search:active {
    color:#FFF;
    background-color:#53a1f1;
}

/* Structure */

#page-wrap {
    width:95%;
    margin-left:2.5%;
    float:left;
}

#content {
    width:100%; 
    float:left;
}

footer {
    width:95%;
    float:left;
    position:fixed;
    bottom:0;
    left:0;
    margin-left:2.5%;
    padding:0 0 10px 4px;
    font-size: 1.6em;
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    font-weight:normal;
}

footer a {
    color:#FFF;
    text-transform:uppercase; 
}

footer a:hover {color:#000;}

.thumb {
    width:200px; 
    display:block; 
    float:left; 
    margin:5px;
}

.thumb img {
    display:block;
}

#content a:hover .thumb {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#commentary {
  width:100%;
  float:left;
  margin:30px 5px 20px 5px;
  text-align:center;
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:1.5em; 
  background-color:#616264;
  color:#ccc;
  padding:15px;
}

/* Item-level */

#mediaview {
    background:none repeat scroll 0 0 #232323;
    bottom:0;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
}

.icon, .icon2 {
  width:22px;
  height:17px;
  z-index:1000;
  position:absolute;
  bottom:3px;
  background: url(../images/makro-film-ikoner.png) no-repeat;
}

.icon {left:5px;}

.icon2 {left:30px;}

.makro-icon-black {
  background-position:0 -2px;
}

.makro-icon-white {
  background-position:-55px -2px;
}

.film-icon-black {
  background-position:-34px 0;
}

.film-icon-white {
  background-position:-91px 0;
}

#icon-info {
  float:right;
  bottom:0px;
  color:#FFF;
  font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-transform:uppercase; 
	font-size:1.5em;
}

#icon-info img:nth-child(2) {
  position:relative;
  top:3px;
}

#sidebar {
    background:none repeat scroll 0 0 #707172;
    bottom:0;
    margin:0;
    position:absolute;
    padding:10px;
    right:0;
    top:0;
    width:140px;
    z-index:100;
    overflow:auto;
}

.sidebar-links {
    width:100%;
    padding:4px;
    margin:0px 0px 10px 0px;
    text-align:center;
    float:left;
}

#sidebar .mobileinfo{
  display:none;
}

#thumb-selector {
    float:left;
}

#thumb-selector img {
    width:100%;
    height:auto;
    position:relative;
    float:left;
    cursor:pointer;
    display:block;
    margin:0px 0 10px;
    opacity:0.6;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

#thumb-selector img.active {
    clear:both;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

#thumb-selector img:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.slider-arrow {
    width:100%;
    background-color:#aaaaaa;
    color:#000;
    float:left;
    display:block;
    text-align:center;
    font-size:1.2em;
    padding:1px 0 1px;
    margin-bottom:10px;
    line-height:0.5;
}

.slider-arrow:hover {
    background-color:#000;
    color:#FFF;
}

.slider-arrow:active {
    background-color:#53a1f1;
    color:#000;
}

#controls {
    position:absolute;
    bottom:0;
    right:0;
    width:140px;
    background-color:#000;
    padding:7px 0 5px;
    z-index: 300;
    text-align:center;
}

#controls span {
    color:#aaaaaa;
    padding:8px;
    font-size:1.5em;
    cursor: pointer;
}

#controls span:hover {
    color:#FFF; 
}

#controls span:active {
    color:#53a1f1;  
}

#infobox {
    z-index: 200;
    display:none;
    color:#ccc;
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:140px;
}

#infobox a {color:#ccc;}

#infobox a:hover {color:#000;}

#infobox a:active {color:#53a1f1;}

#infobox .toggle {color:#aaa; position:absolute; top:0px; right:-20px; z-index:80;}

#infobox .toggle:hover {color:#FFF;}

#infobox .toggle:active {color:#53a1f1;}

/*#infobox table {
    padding:15px 0 15px 15px;
    width: 100%;
}*/

#infotext {
  margin:40px auto;
  padding:8px 8px 10px 10px;
  width:500px;
  background-color:rgba(170,170,170,0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
  }

.title {
  color:#000;
  font-size:1.7em;
	text-transform:lowercase;
	position:relative;
	margin-right:5px;
}

.text {
  width:100%;
  font-size:1.7em;
  color:white;
}

/*td {
    vertical-align:top;
}*/

/*.gradient {
    background-color: #6f7072; 
    background-image: -webkit-linear-gradient(right, #646567, #6f7072); 
    background-image:    -moz-linear-gradient(right, #646567, #6f7072);
    background-image:     -ms-linear-gradient(right, #646567, #6f7072);
    background-image:      -o-linear-gradient(right, #646567, #6f7072);
}*/

/* Search page */

#searchbox-container {
    padding:82px 0 0;
}

.searchbox {
    background-color:#ccc;
    width:600px;
    margin: 0 auto;
    padding:5px 10px 20px 10px;
}

.searchbox a {
    margin:0px;
    position:relative;
    top:-35px;
    left:-10px;
}

.searchbox h1 {
    font-size:3.3em;
    color:#6f7072;
    text-transform:uppercase;
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
    font-weight:normal;
    margin: 10px 0 0 195px;
}

.searchbox form {
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
    text-transform:uppercase;
    font-size:1.5em;
    color:#000;
    position: relative;
}

.searchbox p {
    clear: both;
    height: 2.5em;
}

.searchbox form label {
    width: 180px;
    display: block;
    float: left;
    text-align: right;
    line-height: 2.5em;
    height: 2.5em;
    margin: 0 15px 0 0;
}

.searchbox form input {
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
    float: left;
    border: none;
    height: 2em;
    line-height: 2em;
    margin: 0.25em 0;
}

.searchbox form input[type="text"] {
    width:300px;
    padding:4px;
}

.searchbox form input[type="submit"] {
    padding: 0 10px;
    text-transform:uppercase;
    color: white;
    background-color: #6f7072;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 41px;
    height: 2em;
    line-height: 2em;
}

.searchbox form input[type="submit"]:hover {
    background-color:#000;
}

.searchbox form input[type="submit"]:active {
    background-color:#53a1f1;
}

.searchbox form input[type="text"].value-text {
    color:#999;
    width:127px;
}

.searchbox label[for="id_video_only"] {
    width: auto;
    margin-left: 195px;
}

.searchbox form input[type="checkbox"] {
    width: 26px;
    height: 26px;
}

.searchbox #id_date_from,
.searchbox #id_origin_city {
    width: 145px;
    margin-right: 10px;
}

.searchbox #id_date_to,
.searchbox #id_origin_country {
    width: 145px;
}

/* Other */

.ease {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#copyright {
    margin-top:40px;
    width:100%;
    float:left;
}

#copyright p {
    color:#000;
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
    font-size:1.5em; 
    font-weight:normal;
    margin-top:10px;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

#copyright a {
    color:#ccc;
}

#copyright a:hover {
    color:#53a1f1;
}

#zero-results {
    clear: both;
    color: white;
    margin: 0 auto;
    padding: 3em 0 0;
    text-align: center;
    font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
    font-size: 2em;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

@media only screen and (max-width : 640px), only screen and (max-device-width: 640px) {
  
 #logo a {
 font-size:2em;  
 }
  
 .cat {
   font-size:1em;
   margin:2px;
   padding:2px;
 }
 
 .thumb {
   margin:3px;
   width:180px;
 }
 .thumb img {
   width:180px;
 }

 .sidebar-links {
   font-size:2em;
   padding:4px;
   margin:0 0 10px 0;
 }
 
 .slider-arrow {
   display:none;
 }
 
 #thumb-selector img {
   opacity:1;
 }
 
 #sidebar {
   width:100%;
   float:left;
 }
 
 #sidebar a:nth-child(2), #sidebar a:nth-child(3) {
   display:none;
 }
 
 #sidebar a:nth-child(4){
   display:inline-block;
 }
 
 .mobileinfo:active #infobox {
   display:inline-block;
 }
 
 #controls {
   display:none;
 }
 
 #infobox {
 	z-index:200;
 	width:100%;
 	top:92px;
 	}
 	
  #infobox .toggle {
   display:none;
  }

 #infotext {
   margin:0px 0px 0px 0px;
  background-color:rgba(170,170,170,1);
   width:100%;
  }

#commentary {
  width:100%;
  margin:10px 3px 10px 3px;
  font-size:1.2em; 
}
