@charset "UTF-8";
/* CSS Document */

/* Global */

* {
	padding:0; 
	margin:0; 
	font-size:100%;
	}

html {font-size:100%; }/*font-size for IE*/

img {border:none;}

header, section, footer, aside, nav, article, figure {display: block;}/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

body { 
	font-size:62.5%;
	background-color:#6f7072;
	}

a {text-decoration:none;}

ul {list-style:none;}
	
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Navigation */

#main-nav { 
	width:100%;
	float:left;
	margin-top:5px;
	}
	
#logo { 
	float:left;
	position:relative;
	margin-top:10px; 
	}

#logo a {
	font-size:3.3em;
	color:white;
	text-transform:uppercase;
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	display:block;
	}

#logo a:hover {
  color:black;
  }

.cat {
	color:#000; 
	background-color:#FFF; 
	text-transform:uppercase; 
	display:block; 
	font-size:1.5em; 
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
	font-weight:normal; 
	padding:2px 3px 3px 3px; 
	float:left; 
	margin:4px;
	}

.cat:hover {
	color:#FFF;
	background-color:#333333; 
	}

.cat:active {
	color:#FFF; 
	background-color:#53a1f1;
	}

.breadcrumbs {
	color:#FFF;
	background-color:#aaaaaa; 
	}

.breadcrumbs:hover {
	background-color:#333333; 
	color:white;
	}

.breadcrumbs:active {
	background-color:#53a1f1;
	color:white; 
	}

.search {
	color:#FFF; 
	background-color:#333333; 
	}

.search:hover {
	color:#000;
	background-color:#FFF;
  }

.search:active {
	color:#FFF;
	background-color:#53a1f1;
  }

/* Structure */

#page-wrap {
  width:95%;
  margin-left:2.5%;
  float:left;
  }

#content {
	width:100%; 
	float:left;
	}
	
footer {
  width:95%;
  float:left;
  position:fixed;
  bottom:0;
  left:0;
  margin-left:2.5%;
  padding:0 0 10px 4px;
}

footer a {
  color:#FFF;
  font-size: 1.3em;
  font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	text-transform:uppercase; 
	letter-spacing:0.1em;
}

footer a:hover {color:#000;}

.thumb {
	width:200px; 
	display:block; 
	float:left; 
	margin:5px;
	}
	
.thumb img {
  display:block;
  }
  
#content a:hover .thumb {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

table {
  padding:15px 145px 15px 15px;
  }

.header {
	text-transform:uppercase; 
	color:#000; 
	margin-right:5px; 
	float:right; 
	padding:0px 3px 0px 3px; 
	line-height:1.5em;
	}
	
.text {
  width:360px;
}

td {
  vertical-align:top;
  }

.gradient {
   background-color: #6f7072; 
   background-image: -webkit-linear-gradient(right, #646567, #6f7072); 
   background-image:    -moz-linear-gradient(right, #646567, #6f7072);
   background-image:     -ms-linear-gradient(right, #646567, #6f7072);
   background-image:      -o-linear-gradient(right, #646567, #6f7072);
}

video {  
   	width:90%;
   	max-width:1200px; 
   	height:auto;
   	margin:40px 5% 0;
	}
	
audio {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	}



/* Search page */

.searchbox {
	background-color:#ccc;
	width:550px;
	margin:82px auto;
	padding:5px 10px 20px 10px;
}

.searchbox a {
	margin:0px;
	position:relative;
	top:-35px;
	left:-10px;
}

.searchbox h1 {
	font-size:3.3em;
	color:#6f7072;
	text-transform:uppercase;
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	position:relative;
	left:127px;
	float:left;
}

.searchbox form {
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	text-transform:uppercase;
	font-size:1.5em;
	color:#000;
}

.searchbox form label {
	float:right;
	position:relative;
	right:365px;
	padding:5px;
	margin-top:5px;
	clear:both;
}

input {
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	border:none;
	position:relative;
	left:185px;
	margin:5px 0px 5px 5px;
}

input[type="text"] {
	width:270px;
	padding:4px;
}

input[type="submit"] {
	padding:0px 10px;
	text-transform:uppercase;
	color:#FFF;
	background-color:#6f7072;
	margin:0px;
	height:26px;
}

input[type="submit"]:hover {
	background-color:#000;
}

input[type="submit"]:active {
	background-color:#53a1f1;
}

input[type="text"].value-text {
	color:#999;
	width:127px;
}

input[type="checkbox"] {
	position:relative;
	left:440px;
	top:2px;
}

/* Other */

.ease {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#copyright {
  margin-top:40px;
  width:100%;
  float:left;
}

#copyright p {
  color:#000;
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
	font-size:1.5em; 
	font-weight:normal;
	margin-top:10px;
}

#copyright a {
  color:#ccc;
}

#copyright a:hover {
  color:#53a1f1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

@media only screen and (max-width : 480px), only screen and (max-device-width: 480px) {
  
 #logo a {
 font-size:2em;  
 }
  
 .cat {
   font-size:1em;
   margin:2px;
   padding:2px;
 }
 
 .thumb {
   margin:3px;
 }
 
 .sidebar-links {
   font-size:2em;
   padding:4px;
   margin:0 0 10px 0;
 }
 
 .slider-arrow {
   display:none;
 }
 
 #thumb-selector img {
   opacity:1;
 }
 
 #sidebar {
   width:100%;
   float:left;
 }
 
 #sidebar .sidebar-links:nth-child(2) {
   display:none;
 }
 
 #controls {
   display:none;
 }
 
 #infobox {
 	font-size:1.2em; 
 	position:absolute;
 	z-index:200;
 	width:100%;
 	top:90px;
 	left:0;
 	}
 
 .title {
 	float:left; 
 	padding:3px 0px 0px 0px; 
 	clear:both;
 	}

 .text {
   width:100%;
   clear:both;
 }

 td {
   width:100%;
   display:block;
   }
  
  table {
    width:95%;
    padding: 15px 15px 30px 0px;
    margin-left:2.5%;
  }
  
 .gradient {
    background-color: #6f7072; 
    background-image: -webkit-linear-gradient(bottom, #6f7072, #6f7072); 
    background-image:    -moz-linear-gradient(bottom, #6f7072, #6f7072);
    background-image:     -ms-linear-gradient(bottom, #6f7072, #6f7072);
    background-image:      -o-linear-gradient(bottom, #6f7072, #6f7072);
 }
}
