@charset "UTF-8";
/* CSS Document */

/* Globale */

* {
	padding:0; 
	margin:0; 
	font-size:100%;
	}

html {font-size:100%; background-color:#6f7072;}/*font-size for IE*/

img {border:none;}

header, section, footer, aside, nav, article, figure {display: block;}/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

body {
	font-size:62.5%;
	background-color:#6f7072; 
	}

a {text-decoration:none;}

video {  
   	width:99.5%; 
   	max-width:1200px; 
   	height:auto;
	}
	
audio {
	width:100%; margin-top:15px;
	}
	
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Navigering */

nav {
	width:95%; 
	margin:5px auto 0px auto; 
	}

#nav {
	width:95%;
	margin-top:10px;
	margin-left:2.5%;
	margin-right:2.5%;
	float:left;
	}

.cat {
	color:#000; 
	background-color:#FFF;
	text-transform:uppercase;
	display:block;
	font-size:1.3em;
	font-family:'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	padding:1px 2px 2px 2px;
	float:left;
	margin:3px;
	}

.cat:hover {
	color:#FFF;
	background-color:#000;
	}

.cat:active {
	color:#FFF; 
	background-color:#53a1f1;
	}

.cat-lvl-3 {
	color:#FFF;
	background-color:#aaaaaa; 
	text-transform:uppercase; 
	display:block; font-size:1.3em; 
	font-family:'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
	font-weight:normal; 
	padding:1px 2px 2px 2px; 
	float:left; 
	margin:3px;
	}

.cat-lvl-3:hover {
	background-color:#000; 
	color:white;
	}

.cat-lvl-3:active {
	background-color:#53a1f1;
	color:white;
	}

.corner-stamp {
	float:left;
	background:#aaaaaa;
	color:#FFF;
	}

#logo {
	margin:5px auto 0px auto;
	width:95%;
	}

#logo a {
	font-size:2.3em;
	color:white;
	text-transform:uppercase;
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	display:block;
	margin-left:5px;
	}

#logo a:hover {color:black;}

/* Gjenstandsnivå */

section {
	overflow:hidden;
	width:100%;
	height:100%;
	background-color:#272727;
	position:fixed;	
}

aside {
	position:absolute;
	right:0;
	top:0;
	min-height:100%;
	width:130px;
	z-index:1000;
	background-color:#6f7072;
	/*border-left:1px solid #000;*/
}

aside a.cat-lvl-3 {
	width:94px;
	padding:4px;
	text-align:center;
	margin:10px 0px 0px 14px;
	float:left;
}

#thumb-slider {
	position:relative;
	width:102px;
	float:left;
	margin:15px 0px 5px 14px;
	text-align:center;
}

#thumb-slider img {
	max-width:102px;
	max-height:68px;
	background-color:#aaaaaa;
	float:left;
	margin-top:4px;
	margin-bottom:4px;
	clear:both;
}

#thumb-slider img:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.slider-arrow {
	width:102px;
	background-color:#aaaaaa;
	color:#000;
	float:left;
	display:block;
	text-align:center;
	font-size:1.2em;
	padding-top:1px;
	padding-bottom:1px;
	line-height:0.5;
}

.slider-arrow:hover {
	background-color:#000;
	color:#FFF;
}

.slider-arrow:active {
	background-color:#53a1f1;
	color:#000;
}

#mini-map {
	float:left;
	margin-top:10px;
	padding:10px 0px 15px 10px;
	/*border-top:5px solid #aaaaaa;*/
	/*background-color:#000;*/
	/*position:absolute;
	bottom:0;
	right:0;*/
}

#mini-map img {
	max-width:102px;
	max-height:138px;
	margin-bottom:5px;
	padding-left:4px;
}

#mini-map a {
	color:#FFF;
	padding:5px 10px 0px 10px;
	font-size:1.5em;
}

#mini-map a:hover {
	color:#000;	
}

#mini-map a:active {
	color:#53a1f1;	
}

.infoboks {
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif; 
	font-size:1.2em; 
	font-weight:normal; 
	color:#ccc;
	background-color:#6f7072;
	line-height:1.2em;
	width:350px; 
	padding:10px 140px 10px 10px;
	position:absolute;
	right:0px;
	bottom:0px;
	float:left;
	}

.infoboks a {color:#666;}

.infoboks a:hover {color:#aaaaaa;}

.infoboks a:active {color:#53a1f1;}

.header {
	text-transform:uppercase; 
	color:#000; 
	margin-right:5px; 
	float:right; 
	padding:0px 3px 0px 3px; 
	line-height:1.2em;
	}

td {vertical-align:top; }

.gradient-bg {
   background-color: #6f7072; 
   /*background-image: url(images/fallback-gradient.png); */
  /* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#272727), to(#6f7072));*/
   background-image: -webkit-linear-gradient(right, #646567, #6f7072); 
   background-image:    -moz-linear-gradient(right, #646567, #6f7072);
   background-image:     -ms-linear-gradient(right, #646567, #6f7072);
   background-image:      -o-linear-gradient(right, #646567, #6f7072);
}

/* søkeresultat og level 3-ting */

#content {
	width:95%;
	margin-top:5px; 
	margin-left:2.5%; 
	float:left; 
	}

.thumb {
	width:200px; 
	display:block; 
	float:left; 
	margin:5px; 
	}
	
/* Søkeside */

.searchbox {
	background-color:#ccc;
	width:100%;
	margin:45px auto;
	padding:3px 0px 20px 0px;
	float:left;
}

.searchbox a {
	margin:0px;
	position:relative;
	top:-35px;
}

.searchbox h1 {
	font-size:2em;
	color:#6f7072;
	text-transform:uppercase;
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	font-weight:normal;
	position:relative;
	float:left;
	left:-30px;
	top:5px;
}

.searchbox form {
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	text-transform:uppercase;
	font-size:1.3em;
	color:#000;
	padding-left:27px;
}

.searchbox form label {
	float:left;
	position:relative;
	clear:both;
	margin-top:8px;
	font-size:1em;
}

#filmgjenstander {
	position:relative;
	top:-28px;
}

input {
	font-family: 'Gill Sans', 'Quattrocento Sans', arial, sans-serif;
	border:none;
	position:relative;
	float:left;	
	margin:3px 0px 0px 0px;
	clear:both;
}

input[type="text"] {
	width:200px;
	padding:3px;
}

input[type="submit"] {
	padding:0px 7px 1px 7px;
	text-transform:uppercase;
	color:#FFF;
	background-color:#6f7072;
	height:25px;
	top:30px;
}

input[type="submit"]:hover {
	background-color:#000;
}

input[type="submit"]:active {
	background-color:#53a1f1;
}

input[type="text"].value-text {
	color:#999;
	width:80px;
}

input[type="checkbox"] {
	position:relative;
	left:220px;
	top:-43px;
}	

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}