@charset "UTF-8";
/* CSS Document */

/* Generelt stæsj */

* {padding:0; margin:0; font-size:100%;}

html {font-size:100%;} /*For IE*/

img {border:none;}

header, section, footer, aside, nav, article, figure { display: block; }/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */

body { font-size:62.5%; background-color:#CCC; }

a {text-decoration:none;}

/* Toppmeny */

nav { width:95%; margin:15px auto 0px auto;}

.emne {color:black; background-color:white; text-transform:uppercase; display:block; font-size:1.3em; font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif; font-weight:normal; padding:1px 2px 2px 2px; float:left; margin:3px;}

.emne:hover {background-color:#000; color:white;}

.emne:active {color:white; background-color:#F09;}

.corner-stamp {
margin: 4px;
float: left;
background: #F09;
color: white;
}

#logo { margin:5px auto 0px auto; width:95%;}

#logo a { font-size:2.3em; color:white; text-transform:uppercase; font-family: Gill Sans, 'Quattrocento Sans', arial, sans-serif; font-weight:normal; display:block; margin-left:5px; /*text-shadow: 2px 2px 0px #666;*/ }

#logo a:hover {color:black;}

#search {margin:10px auto 0px auto; width:95%;}

#search input {width:160px; height:20px; font-size:1.5em; border:none; font-size:1em; margin-left:5px;}

/*footer*/

/* Gjenstandsnivå */

#item {width:95%; margin-top:20px; margin-left:2.5%; margin-right:2.5%; clear:both; position:relative; float:left;}

.item-img {width:98%; max-width:900px; margin-left:0.5%; margin-right:0.5%; margin-bottom:10px; float:left;}

#item-thumbs {width:95%; margin-top:10px; margin-left:2.5%; margin-right:2.5%; position:relative;}

.item-thumb {width:23%; margin:0.7%; max-width:200px;}

#datering {width:95%; margin-left:3%; margin-top:10px; float:left;}

/* Annet */

#content {width:95%; margin:20px auto 0px auto;}

.thumb {width:200px; display:block; float:left; margin:5px;}

#wrapper-list {margin-bottom:40px;}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}