{% extends "admin/change_form.html" %}
{% load thumbnail %}

{% block extrahead %}
	{{ block.super }}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>

	<script src="{{ STATIC_URL }}autocomplete_light/autocomplete.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL}}js/archive_functions.js"></script>
{% endblock %}


{% block content %}
  <img id="id_img_feature_media" src="{{MEDIA_URL}}{{original.feature_media}}" />
  {% if original.feature_media %}
  	
	<img src="{% thumbnail original.feature_media.filename "100x100" %}" />
  {% endif  %}
  {{ block.super }}
		
  <input type="hidden" id="topic_subtopic_helper" value="" />
  <div class="ui-widget">
  </div>
{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/autocomplete.css" />	
	
	<style>
	.aligned label:not(.inline){
		width: 15em;
	}
	
	.aligned label.inline {
		width: auto;
	}
	
	.ui-autocomplete {
		background-color: #F6F6F6;
	}
	
	ul.ui-corner-all {
		list-style: none;
	}	
	</style>
{% endblock %}
